html {
  font-size: $font-size-base;

  scroll-behavior: smooth;
  touch-action: manipulation;
}

body {
  box-sizing: border-box;
  min-width: $body-min-width;

  letter-spacing: 0.33px;

  color: var(--body-font-color);
  background: var(--body-background);

  font-weight: $body-font-weight;

  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  * {
    box-sizing: inherit;
  }
}

h1,
h2,
h3,
h4,
h5 {
  font-weight: $body-font-weight;
}

a {
  text-decoration: none;

  color: var(--color-link);
}

img {
  vertical-align: baseline;
}

:focus {
  @include outline;
}

aside nav ul {
  margin: 0;
  padding: 0;

  list-style: none;

  li {
    position: relative;

    margin: 1em 0;
  }

  a {
    display: block;
  }

  a:hover {
    opacity: 0.5;
  }

  ul {
    padding-inline-start: $padding-16;
  }
}

ul.pagination {
  display: flex;
  justify-content: center;

  list-style-type: none;

  .page-item a {
    padding: $padding-16;
  }
}

.container {
  max-width: $container-max-width;
  margin: 0 auto;
}

.book-icon {
  filter: var(--icon-filter);
}

img.book-icon {
  width: 1rem;

  font-size: 0.875rem;
}

.book-brand {
  margin-top: 0;

  img {
    width: auto;
    height: 2em;

    vertical-align: middle;

    margin-inline-end: $padding-8;
  }
}

.book-menu {
  flex: 0 0 $menu-width;

  font-size: $font-size-14;

  nav {
    width: $menu-width;
    padding: $padding-16;

    background: var(--body-background);

    max-height: 100vh;

    @include sticky;
  }

  a,
  label {
    cursor: pointer;
    word-wrap: break-word;

    color: inherit;
  }

  a.active,
  a:hover {
    // color: var(--color-link);
    color: #8440f1;
  }

  input.toggle + label + ul {
    display: none;
  }

  input.toggle:checked + label + ul {
    display: block;
  }

  input.toggle:checked + label > span.expand-icon svg:last-child {
    transform: rotate(90deg);
  }

  input.toggle:checked + label + ul {
    border-left: 1px solid #dee2e6;
  }

  input.toggle:checked + label,
  nav > ul > li > a.active {
    color: #8440f1;
    border-radius: 4px;
    background-color: rgba(132, 64, 241, 0.1);

    font-weight: 500;
  }

  nav input.toggle:checked + label + ul > li:has(> a.active) {
    // color: #8440f1;
    // background-color: oklch(96.7% 0.003 264.542);
    // border-radius: 4px;
    border-left-color: #8440f1;
  }

  nav input.toggle:checked + label + ul > li {
    margin-left: -7px;
  }

  ul li {
    margin: 0.2rem 0;
  }

  input.toggle:checked + label + ul li > a {
    padding: 6px 0px;

    &:hover {
      color: #8440f1;
    }
  }

  input.toggle:checked + label + ul li:has(> a) {
    margin-left: -17px;
    padding-left: 17px;

    border-left: 2px solid transparent;

    &:hover {
      border-left-color: #8440f1;
    }
  }

  nav > ul li > label {
    padding: 6px 8px;

    &:hover {
      color: #8440f1;
      border-radius: 4px;
      background-color: rgba(132, 64, 241, 0.1);
    }
  }

  nav > ul > li > a {
    padding: 6px 8px;

    &:hover {
      opacity: 1;
      color: #8440f1;
      border-radius: 4px;
      background-color: rgba(132, 64, 241, 0.1);
    }
  }

  nav > .heading {
    margin-bottom: 1em;

    .version-selector {
      width: 100%;
      padding-top: 0.25rem;
      padding-bottom: 0.25rem;
      padding-left: 0.5rem;

      border: 1px solid #dee2e6;
      border-radius: 0.25rem;

      font-size: 0.875rem;
    }
  }
}

.book-section-flat {
  margin-bottom: $padding-16 * 2;

  &:not(:first-child) {
    margin-top: $padding-16 * 2;
  }

  > a,
  > span,
  > label {
    font-weight: bolder;
  }

  > ul {
    padding-inline-start: 0;
  }
}

.book-page {
  flex-grow: 1;

  min-width: $body-min-width;
  padding: $padding-16;
}

.book-post {
  margin-bottom: $padding-16 * 3;
}

.book-header {
  display: none;

  margin-bottom: $padding-16;

  label {
    line-height: 0;
  }
}

.book-search {
  position: relative;

  margin: $padding-16 0;

  border-bottom: 1px solid transparent;

  input {
    width: 100%;
    padding: $padding-8;

    color: var(--body-font-color);
    border: 0;
    border-radius: $border-radius;
    background: var(--gray-100);

    &:required + .book-search-spinner {
      display: block;
    }
  }

  .book-search-spinner {
    position: absolute;
    top: 0;

    width: $padding-16;
    height: $padding-16;
    margin: $padding-8;

    border: $padding-1 solid transparent;
    border-top-color: var(--body-font-color);
    border-radius: 50%;

    margin-inline-start: calc(100% - #{$padding-16 + $padding-8});
    @include spin(1s);
  }

  small {
    opacity: 0.5;
  }
}

.book-toc {
  flex: 0 0 $toc-width;

  font-size: $font-size-12;

  max-height: 100vh;

  @include sticky;

  .view-markdown {
    display: flex;
    align-items: center;

    height: 24px;

    gap: 4px;

    margin: 1rem 0 0.5rem 0;

    img {
      width: 20px;
      height: 20px;
    }

    span {
      color: #1784fc;

      font-size: 12px;
      font-weight: bold;
    }
  }

  nav {
    width: $toc-width;
    padding: $padding-16;

    a {
      color: #8440f1;
    }
  }

  img {
    height: 1em;
  }

  nav > ul > li:first-child {
    margin-top: 0;
  }

  .toc-header {
    height: 24px;

    gap: 7px;

    span {
      font-weight: 500;
    }
  }

  #TableOfContents > ul {
    margin-left: -15px;
    padding-left: 15px;

    border-left: 1px solid #dee2e6;
  }
}

.book-footer {
  padding-top: $padding-16;

  font-size: $font-size-14;

  img {
    height: 1em;

    margin-inline-end: $padding-8;
  }
}

.book-comments {
  margin-top: $padding-16;
}

.book-languages {
  position: relative;

  overflow: visible;

  ul {
    margin: 0;
    padding: 0;

    list-style: none;

    li {
      margin: 0.875rem 0;

      cursor: pointer;
      white-space: nowrap;

      gap: 7px;
    }
  }

  &:hover,
  &:focus,
  &:focus-within {
    .book-languages-list {
      display: block;
    }
  }

  .book-languages-list {
    position: absolute;
    bottom: 100%;
    left: 0;

    display: none;

    background: var(--body-background);
    box-shadow: 0 0 $padding-4 rgba(0, 0, 0, 0.1);

    li img {
      opacity: 0.25;
    }

    li.active img,
    li:hover img {
      opacity: initial;
    }

    a {
      padding: $padding-1 $padding-8;

      color: inherit;

      gap: 7px;
    }
  }
}

.book-home {
  padding: $padding-16;
}

// Responsive styles
aside nav,
.book-page,
.book-header aside,
.markdown {
  transition: 0.2s ease-in-out;
  transition-property: transform, margin, opacity, visibility;

  will-change: transform, margin, opacity;
}

@media screen and (max-width: $mobile-breakpoint) {
  #menu-control,
  #toc-control {
    display: inline;
  }

  .book-menu {
    z-index: 1;

    visibility: hidden;

    font-size: $font-size-base;

    margin-inline-start: -$menu-width;
  }

  .book-toc {
    display: none;
  }

  .book-header {
    display: block;
  }

  #TableOfContents {
    border-left: none;
  }

  #menu-control:focus ~ main label[for="menu-control"] {
    @include outline;
  }

  #menu-control:checked ~ main {
    .book-menu {
      visibility: initial;
    }

    .book-menu nav {
      transform: translateX($menu-width);

      box-shadow: 0 0 $padding-8 rgba(0, 0, 0, 0.1);
    }

    .book-page {
      opacity: 0.25;
    }

    .book-menu-overlay {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;

      display: block;
    }
  }

  #toc-control:focus ~ main label[for="toc-control"] {
    @include outline;
  }

  #toc-control:checked ~ main {
    .book-header aside {
      display: block;
    }
  }

  //for RTL support
  body[dir="rtl"] #menu-control:checked + main {
    .book-menu nav {
      transform: translateX(-$menu-width);
    }
  }
}

// Extra space for big screens
@media screen and (min-width: $container-max-width) {
  .book-page,
  .book-menu nav,
  .book-toc nav {
    padding: $padding-16 * 2 $padding-16;
  }
}

.download-btn {
  display: inline-block;

  padding: 0 1rem;

  cursor: pointer;

  color: var(--color-link) !important;
  border: 1px solid var(--color-link);
  border-radius: 0.25rem;

  font-size: 0.875rem;
  line-height: 2rem;
}

img {
  filter: drop-shadow(0 0 8px rgba(255, 255, 255, 0.6));
}

.book-brand {
  position: relative;

  display: inline-block;
}

.book-brand::before {
  position: absolute;
  z-index: -1;
  top: -5px;
  right: -5px;
  bottom: -5px;
  left: -0px;

  content: "";

  border-radius: 30%;
  /* Optional, for rounded glow */
  background: rgba(255, 255, 255, 0.4);

  filter: blur(8px);
}

.img-link a img {
  background: #ffffff !important;
}

.book-footer {
  clear: both;

  .book-languages {
    ul li,
    .book-languages-list a {
      gap: 0;
    }
  }
}
